.primaryButton {
  border-radius: 10px;
  color: #fff;
  padding: 15px 35px;
  font-size: 16px;
  min-width: 180px;
}

.blue {
  background-color: #4164a4;
}

.yellow {
  background-color: #f6ce52;
}

.red {
  background-color: #ff4242;
}
